<h1 class="text-center">Welcome to Heap-Flood!</h1>

<h3 class="text-center">Newest Posts:</h3>
<% @posts.each do |post| %>
  <div class="panel-default">
    <div class="panel-heading">
      <%= link_to post.title, post_path(post) %>
    </div>
    <div class="panel-body">
      <%= post.content %>
    </div>
  </div>
<% end %>
